<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>News Tracker Application</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='news.png')}}')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/vendor/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/vendor/font-awesome.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/vendor/slick.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/vendor/slick-theme.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/vendor/sal.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/vendor/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/vendor/green-audio-player.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/vendor/odometer-theme-default.css')}}">

    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/app.css')}}">

</head>

<body class="sticky-header">

    <a href="#main-wrapper" id="backto-top" class="back-to-top">
        <i class="far fa-angle-double-up"></i>
    </a>

    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->

    <div class="my_switcher d-none d-lg-block">
        <ul>
            <li title="Light Mode">
                <a href="javascript:void(0)" class="setColor light" data-theme="light">
                    <i class="fal fa-lightbulb-on"></i>
                </a>
            </li>
            <li title="Dark Mode">
                <a href="javascript:void(0)" class="setColor dark" data-theme="dark">
                    <i class="fas fa-moon"></i>
                </a>
            </li>
        </ul>
    </div>

    <div id="main-wrapper" class="main-wrapper">
        <!--=====================================-->
        <!--=        Header Area Start       	=-->
        <!--=====================================-->
        <header class="header axil-header header-style-1">
            <div id="axil-sticky-placeholder"></div>
            <div class="axil-mainmenu">
                <div class="container">
                    <div class="header-navbar">
                        <div class="header-logo">
                           <h5>News Tracker</h5>
                        </div>
                        <div class="header-main-nav">
                            <!-- Start Mainmanu Nav -->
                            <nav class="mainmenu-nav" id="mobilemenu-popup">
                                <div class="d-block d-lg-none">
                                    <div class="mobile-nav-header">
                                        <div class="mobile-nav-logo">
                                            <a href="/">
                                                <img class="light-mode" src="{{url_for('static', filename='assets/media/logo-2.svg')}}" alt="Site Logo">
                                                <img class="dark-mode" src="{{url_for('static', filename='assets/media/logo-3.svg')}}" alt="Site Logo">
                                            </a>
                                        </div>
                                        <button class="mobile-menu-close" data-bs-dismiss="offcanvas"><i class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <ul class="mainmenu">
                                    <li class="menu-item-open">
                                        <a href="/">Home</a>
                                    </li>
                                    <li class="menu-item-open">
                                        <a href="https://github.com/IBM-EPBL/IBM-Project-18077-1659678954">GitHub</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- End Mainmanu Nav -->
                        </div>
                        <div class="header-action">
                            <ul class="list-unstyled">
                                <li class="sidemenu-btn d-lg-block d-none">
                                    <button class="btn-wrap" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenuRight">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>
                                </li>
                                <li class="mobile-menu-btn sidemenu-btn d-lg-none d-block">
                                    <button class="btn-wrap" data-bs-toggle="offcanvas" data-bs-target="#mobilemenu-popup">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>
                                </li>
                                <li class="my_switcher d-block d-lg-none">
                                    <ul>
                                        <li title="Light Mode">
                                            <a href="javascript:void(0)" class="setColor light" data-theme="light">
                                                <i class="fal fa-lightbulb-on"></i>
                                            </a>
                                        </li>
                                        <li title="Dark Mode">
                                            <a href="javascript:void(0)" class="setColor dark" data-theme="dark">
                                                <i class="fas fa-moon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--=====================================-->
        <!--=       Breadcrumb Area Start       =-->
        <!--=====================================-->
        <div class="breadcrum-area">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="list-unstyled">
                        <li><a href="/">Home</a></li>
                        <li class="active">News</li>
                    </ul>
                    <h1 class="title h2">NEWS</h1>
                </div>
            </div>
            <ul class="shape-group-8 list-unstyled">
                <li class="shape shape-1" data-sal="slide-right" data-sal-duration="500" data-sal-delay="100"><img src="{{url_for('static', filename='assets/media/others/bubble-9.png')}}" alt="Bubble"></li>
                <li class="shape shape-2" data-sal="slide-left" data-sal-duration="500" data-sal-delay="200"><img src="{{url_for('static', filename='assets/media/others/bubble-10.png')}}" alt="Bubble"></li>
                <li class="shape shape-3" data-sal="slide-up" data-sal-duration="500" data-sal-delay="300"><img src="{{url_for('static', filename='assets/media/others/line-4.png')}}" alt="Line"></li>
            </ul>
        </div>
        <!--=====================================-->
        <!--=        Blog Area Start       	    =-->
        <!--=====================================-->
        <section class="section-padding-equal">
            <div class="container">
                <div class="row row-40">
                    <div class="col-lg-8">
                         {% if all['length'] > 0 %}
                        {% for title,desc,img,p_date,url, auth in all['all'] %}
                        <div class="blog-grid">
                            <h3 class="title"><a href="{{ url }}">{{ title }}</a></h3>
                            <div class="author">
                                <div class="author-thumb">
                                    <img src="{{url_for('static', filename='assets/media/blog/author-1.png')}}" alt="{{ auth }}">
                                </div>
                                <div class="info">
                                    <h6 class="author-name">{{ auth }}</h6>
                                    <ul class="blog-meta list-unstyled">
                                        <li>{{ p_date[8:10]+"/"+p_date[5:7]+ '/'+p_date[0:4]}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="post-thumbnail">
                                <a href="{{ url }}"><img src="{{ img }}" alt="{{ title }}"></a>
                            </div>
                            <p>{{ desc }}</p>
                            <a href="{{ url }}" class="axil-btn btn-borderd btn-large">Read More</a>
                        </div>
                        {% endfor %}
                         {% else %}
                <h1>No Results Found</h1>
                {% endif %}
                    </div>
                    <div class="col-lg-4">
                        <div class="axil-sidebar">
                            <div class="widget widget-search">
                                <h4 class="widget-title">Search</h4>
                                <form action="/search" method="post" role="search" class="blog-search">
                                    <input type="search" placeholder="Search…" name="nm">
                                    <button class="search-button" type="submit"><i class="fal fa-search"></i></button>
                                </form>
                            </div>

                            <div class="widget widget-recent-post">
                                <h4 class="widget-title">Top Headlines</h4>
                                <div class="post-list-wrap">

                                    {% for news_all, desc_all, img_all, p_date_all, url_all, auth_all in all['head'] %}
                                    <div class="single-post">
                                        <div class="post-thumbnail">
                                            <a href="{{ url_all }}"><img src="{{ img_all }}" alt="Blog"></a>
                                        </div>
                                        <div class="post-content">
                                            <h6 class="title"><a href="{{ url_all }}">{{ news_all }}</a></h6>
                                            <ul class="blog-meta list-unstyled">
                                                <li>{{ auth_all }}</li>
                                                <li>{{ p_date_all }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================-->
        <!--=     Call To Action Area Start     =-->
        <!--=====================================-->
        <section class="section call-to-action-area">
            <div class="container">
                <div class="call-to-action">
                    <div class="section-heading heading-light">
                        <span class="subtitle">IBM Project Based Learning</span>
                        <h2 class="title">The News Tracker Application</h2>
                    </div>
                    <div class="thumbnail">
                        <div class="larg-thumb" data-sal="zoom-in" data-sal-duration="600" data-sal-delay="100">
                            <img class="paralax-image" src="{{url_for('static', filename='assets/media/others/chat-group.png')}}" alt="Chat">
                        </div>
                        <ul class="list-unstyled small-thumb">
                            <li class="shape shape-1" data-sal="slide-right" data-sal-duration="800" data-sal-delay="400">
                                <img class="paralax-image" src="{{url_for('static', filename='assets/media/others/laptop-poses.png')}}" alt="Laptop">
                            </li>
                            <li class="shape shape-2" data-sal="slide-left" data-sal-duration="800" data-sal-delay="300">
                                <img class="paralax-image" src="{{url_for('static', filename='assets/media/others/bill-pay.png')}}" alt="Bill">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="list-unstyled shape-group-9">
                <li class="shape shape-1"><img src="{{url_for('static', filename='assets/media/others/bubble-12.png')}}" alt="Comments"></li>
                <li class="shape shape-2"><img src="{{url_for('static', filename='assets/media/others/bubble-16.png')}}" alt="Comments"></li>
                <li class="shape shape-3"><img src="{{url_for('static', filename='assets/media/others/bubble-13.png')}}" alt="Comments"></li>
                <li class="shape shape-4"><img src="{{url_for('static', filename='assets/media/others/bubble-14.png')}}" alt="Comments"></li>
                <li class="shape shape-5"><img src="{{url_for('static', filename='assets/media/others/bubble-16.png')}}" alt="Comments"></li>
                <li class="shape shape-6"><img src="{{url_for('static', filename='assets/media/others/bubble-15.png')}}" alt="Comments"></li>
                <li class="shape shape-7"><img src="{{url_for('static', filename='assets/media/others/bubble-16.png')}}" alt="Comments"></li>
            </ul>
        </section>
        <!--=====================================-->
        <!--=        Footer Area Start       	=-->
        <!--=====================================-->
        <footer class="footer-area">
            <div class="container">
                <div class="footer-bottom" data-sal="slide-up" data-sal-duration="500" data-sal-delay="100">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-copyright">
                                <span class="copyright-text">Developed with ❤ by Sabarish, Sanjay, Vishal, Raghul.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--=====================================-->
        <!--=       Offcanvas Menu Area       	=-->
        <!--=====================================-->
        <div class="offcanvas offcanvas-end header-offcanvasmenu" tabindex="-1" id="offcanvasMenuRight">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form action="/search" method="post" role="search" class="side-nav-search-form">
                    <div class="form-group">
                        <input type="search" class="search-field" name="nm" placeholder="Search...">
                        <button class="side-nav-search-btn" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </form>
                <div class="row ">
                    <div class="col-lg-5 col-xl-6">
                        <ul class="main-navigation list-unstyled">
                            <li><a href="#">Developed By...</a></li>
                            <li><a href="#">Sabarish S</a></li>
                            <li><a href="#">Sanjay D</a></li>
                            <li><a href="#">Raghul V</a></li>
                            <li><a href="#">Vishal R</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery Js -->
    <script src="{{url_for('static', filename='assets/js/vendor/jquery-3.6.0.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/vendor/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/vendor/isotope.pkgd.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/vendor/imagesloaded.pkgd.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/vendor/odometer.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/vendor/jquery-appear.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/vendor/slick.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/vendor/sal.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/vendor/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/vendor/js.cookie.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/vendor/jquery.style.switcher.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/vendor/jquery.countdown.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/vendor/tilt.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/vendor/green-audio-player.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/vendor/jquery.nav.js')}}"></script>

    <!-- Site Scripts -->
    <script src="{{url_for('static', filename='assets/js/app.js')}}"></script>
</body>

</html>